@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Open+Sans:wght@400;800&display=swap');
@import "./common/reset";
@import "./common/mixin";
@import "./header/header";
@import "./header/sub-header";
@import "./footer/footer";
@import "./main/bestbath";
@import "./main/brand";
@import "./main/slide";
@import "./main/subscribe";
@import "./sub/login";
@import "./sub/signup";
@import "./sub/isotope";
@import "./sub/store";
@import "./sub/sub_brand";
@import "./sub/spa";
@import "./sub/spa";



