@import "./join";

.join_wrap {
    .content {
        .inner {
            fieldset {

                .signup_table {
                    margin: 0 auto;
                    width: 80%;

                    border-top: 1px solid #333;

                    tr {
                        position: relative;
                        font-family: '맑은 고딕';

                        th, td {
                            border-bottom: 1px solid #ddd;
                            padding: 15px 25px;
                        }

                        &:nth-of-type(6) th, &:nth-of-type(6) td,
                        &:nth-of-type(7) th, &:nth-of-type(7) td {
                            border-bottom: none;
                        }

                        th {
                            width: 30%;
                            font-size: 14px;

                            input[type='reset'],
                            input[type="submit"] {
                                width: 49%;
                                height: 40px;
                                background-color: #333;
                                font: bold 14px/40px "맑은 고딕";
                                color: #fff;
                                cursor: pointer;
                                margin-top: 5px;
                                border-radius: 5px;
        
                            }
                        }

                        td {
                            input[type="text"],input[type="password"] {
                                padding: 5px 20px 5px 5px;
                            }

                            position: relative;

                            #toggleBtn {
                                position: absolute;
                                top: 30px;
                                right: 10%;
                                transform: translateY(-50%);
                                width: 34px;
                                height: 34px;
                                background-color: rgba(0, 0, 0, 0.05);
                                border-radius: 50%;
                                cursor: pointer;
                                display: flex;
                                justify-content: center;
                                align-items: center;
            
                                &::before {
                                    content: '\f06e';
                                    font-family: fontAwesome;
                                }
            
                                &.hide::before {
                                    content: '\f070';
                                    font-family: fontAwesome;
                                }
            
                            }

                            .addressNum {
                                display: flex;
                                width: 100%;
                                gap: 10px;
                                margin-bottom: 10px;

                                #address_num {
                                    width: 30%
                                }

                                #address_btn {
                                    border: 1px solid #333;
                                    background-color: #fff;
                                    width: 30%;
                                    border-radius: 5px;
                                    cursor: pointer;

                                    &:hover {
                                        background-color: #333;
                                        color: #fff;
                                        
                                    }
                                }
                            }

                            #address {
                                width: 100%;
                                margin-bottom: 10px;
                            }

                            #address2 {
                                width: 100%;
                                margin-bottom: 10px;
                            }

                            p {
                                font: 12px/1 "맑은 고딕";
                                color: red;
                                text-align: left;
                                margin-top: 7px;
                            }
                        }
                
                    }
                }
            }
        
        }
    }
    
}


.address_bg {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 7;
}
.address_pop {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 600px;
    z-index: 8;

    header {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        background-color: #333;
        padding: 0 20px;
        
        h1 {
            font: 18px/50px '맑은 고딕';
            color: #fff;
        }

        i {
            font-size: 18px;
            line-height: 50px;
            cursor: pointer;
            color: #fff;
        }
    }

    .tab {
        width: 100%;
        height: 100px;
        padding: 20px;
        display: flex;

        li {
            width: 50%;
            height: 80%;
            text-align: center;

            a {
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                background-color: #eee;
                color: #888;
                border: none;
                border-bottom: 1px solid #000;
            }

            &.on a{
                color: #000;
                background-color: #fff;
                border: 1px solid #000;
                border-bottom: none;
            }
        }
    }

    .search {
        width: 100%;
        height: 100px;
        padding: 20px;
        display: flex;

        .left {
            flex: 2;
            background-color: #eee;
            display: flex;
            justify-content: center;
            align-items: center;
            font: 12px/1 "맑은 고딕";
            color: #666;
        }

        .right {
            flex: 8;
            border: 1px solid #eee;
            padding: 10px;

            .search_wrap {
                width: 100%;
                display: flex;
                gap: 10px;

                #address_input {
                    flex: 8;
                    padding: 2px 0;
                }

                .address_searchBtn {
                    flex: 2;
                    border: none;
                    background-color: #333;
                    color: #fff;
                    cursor: pointer;
                    font-size: 12px;
                }
            }

            p {
                margin-top: 5px;
                font: 12px/1 "맑은 고딕";
            }
        }
    }

    .result {
        position: relative;
        width: 100%;
        height: 400px;
        padding: 20px;

        p {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -50px;
            opacity: 1;
            font: 16px/1 "맑은 고딕";
        }

        .address_searchResult {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            opacity: 0;
            padding: 0 20px;
            width: 100%;
            height: 100%;
            background-color: #fff;

            table {
                width: 100%;
    
                thead {
                    width: 100%;
                    height: 40px;
                    background-color: #eee;
                    tr {
                        th {
                            font: 12px/1 "맑은고딕";
                            color: #666;
                        }
                    }
                }
    
                tbody {
                    width: 100%;
    
                    tr {
                        td {
                            &:nth-of-type(1) {
                                text-align: center;
                                font: 16px/1 "맑은고딕";
                                color: #000;
                                border-right: 1px solid #eee;
                            }
    
                            ul {
                                padding: 10px;
                                li {
                                    a {
                                        font: 14px/1 "맑은고딕";
                                        color: #000;

                                        &:hover {
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                            border-bottom: 1px solid #eee;
                        }
                    }
                }
            }
    
        }


        
    }


    footer {
        width: 100%;
        height: 50px;
        background-color: #333;
    
        button {
            width: 100%;
            height: 100%;
            cursor: pointer;
            background-color: #333;
            border: none;
            color: #fff;
        }
    
    }
}

@media (max-width: $mobile) {
    .join_wrap {
        .content {
            .inner {
                fieldset {
    
                    .signup_table {
                        width: 90%;
    
                        tr {
    
                            th, td {
                                padding: 15px 5px;
                            }
    
    
                            th {
                                width: 30%;
                                font-size: 12px;
    
                                input[type='reset'],
                                input[type="submit"] {
                                    font: bold 12px/40px "맑은 고딕";
                                }
                            }
    
                            td {
    
                                #toggleBtn {
                                    width: 25px;
                                    height: 25px;
                
                                }

                            }
                    
                        }
                    }
                }
            
            }
        }
        
    }
}