#brand {
    padding: 50px 0;
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;

    .brand_inner {
        width: 1500px;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;

        .brand_header {
            width: 100%;
            height: auto;
            position: relative;

            .brand_tab {
                display: flex;
                position: absolute;
                top: 20%;
    
                li {
                    width: 200px;
                    height: 40px;

                    a {
                        position: relative;
                        display: block;
                        width: 200px;
                        height: 40px;
                        color: #000;
    
                        span {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            transition: 0.5s;
    
                            &:nth-of-type(1) {
                                font: 20px/1 "lush";
                                z-index: 1;
                                opacity: 1;
                            }
    
                            &:nth-of-type(2) {
                                font: bold 18px/1 "맑은 고딕";
                                z-index: 0;
                                opacity: 0;
                            }
                        }
    
                        &:hover {
                            span:nth-of-type(1) {
                                z-index: 1;
                                opacity: 0;
                            }
                            span:nth-of-type(2) {
                                z-index: 2;
                                opacity: 1;
                            }
                        }
                    }

                    &.on >a>span {
                        font-weight: bold;
                    }
                }

                .brand_bar {
                    position: absolute;
                    width: 0;
                    background-color: #eee;
                    height: 4px;
                    top: 0;
                    left: 0;
                    transition: 0.5s;
                }
            }

            .brand_title {
                text-align: center;
    
                h1 {
                    font: 4vw/1 "lush";
                    color: #000;
                    margin-top: 100px;
                    margin-bottom: 30px;
                }
    
                h2 {
                    font: bold 18px/1 "맑은 고딕";
                    color: #222;
                    margin-bottom: 50px;
                }

                span {
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: #000;
                }

                a {
                    display: block;
                    width: 100%;
                    text-align: right;
                    margin-top: 5px;
                    color: #888;

                    &:hover {
                        text-decoration: underline;
                    }
                }
                
            }
        }

        .brand_content {
            margin-top: 50px;
            position: relative;
            width: 100%;
            height: auto;
            background-color: #fff;

            >div{
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                z-index: 0;
                width: 100%;

                &.on {
                    opacity: 1;
                    z-index: 1;
                }

                &.main_introduce {

                    display: flex;
                    justify-content: space-evenly;
                    
                    >div {
                        height: 400px;
                        margin: 50px auto 0;
                        // display: flex;
                        // justify-content: center;
                        // align-items: center;
                        position: relative;

                        img {
                            border-radius: 0px 100% 0px 0px;
                            width: 70%;
                            height: 90%;
                            object-fit: cover;
                        }

                        p {
                            position: absolute;
                            text-align: center;
                            top: -20px;
                            right: 5%;
                            font: 16px/1.5 "맑은 고딕";
                        }

                        &:nth-of-type(3) {
                            p {
                                margin-top: 20px;
                            }
                        }
                    }

                    &::after {
                        display: block;
                        content: '';
                        width: 100%;
                        height: 200px;
                        background-color: #eee;
                        position: absolute;
                        bottom: 40px;
                        left: 0px;
                        z-index: -1;
                    }

                }

                &.main_ideology {
                    
                    ul {
                        margin: 0 auto 50px;
                        width: 80%;
                        height: 200px;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;

                        li {
                            width: 100%;
                            height: 100%;
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            &::after {
                                display: block;
                                content: '';
                                position: absolute;
                                height: 200px;
                                width: 200px;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                background-color: rgba(0,0,0,0.5);
                                border-radius: 50%;
                            }

                            img {
                                width: 200px;
                                height: 200px;
                                object-fit: cover;
                                border-radius: 50%;

                            }

                            span {
                                position: absolute;
                                text-align: center;
                                font: bold 18px/1.5 "맑은 고딕";
                                color: #fff;
                                z-index: 2;
                            }
                        }
                    }

                }
            }
        }

    }
}


@media (max-width: $mobile) {
    #brand {
        overflow: hidden;
        width: 100vw;

    
        .brand_inner {
            width: 1500px;
            height: 100%;
            margin: 0 auto;
            overflow: hidden;
    
            .brand_header {
                width: 100%;
                height: auto;
                position: relative;
    
                .brand_tab {
                    display: flex;
                    position: absolute;
                    top: 20%;
        
                    li {
                        width: 200px;
                        height: 40px;
    
                        a {
                            position: relative;
                            display: block;
                            width: 200px;
                            height: 40px;
                            color: #000;
        
                            span {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                transition: 0.5s;
        
                                &:nth-of-type(1) {
                                    font: 20px/1 "lush";
                                    z-index: 1;
                                    opacity: 1;
                                }
        
                                &:nth-of-type(2) {
                                    font: bold 18px/1 "맑은 고딕";
                                    z-index: 0;
                                    opacity: 0;
                                }
                            }
        
                            &:hover {
                                span:nth-of-type(1) {
                                    z-index: 1;
                                    opacity: 0;
                                }
                                span:nth-of-type(2) {
                                    z-index: 2;
                                    opacity: 1;
                                }
                            }
                        }
    
                        &.on >a>span {
                            font-weight: bold;
                        }
                    }
    
                    .brand_bar {
                        position: absolute;
                        width: 0;
                        background-color: #eee;
                        height: 4px;
                        top: 0;
                        left: 0;
                        transition: 0.5s;
                    }
                }
    
                .brand_title {
                    text-align: center;
        
                    h1 {
                        font: 4vw/1 "lush";
                        color: #000;
                        margin-top: 100px;
                        margin-bottom: 30px;
                    }
        
                    h2 {
                        font: bold 18px/1 "맑은 고딕";
                        color: #222;
                        margin-bottom: 50px;
                    }
    
                    span {
                        display: block;
                        width: 100%;
                        height: 2px;
                        background-color: #000;
                    }
    
                    a {
                        display: block;
                        width: 100%;
                        text-align: right;
                        margin-top: 5px;
                        color: #888;
    
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    
                }
            }
    
            .brand_content {
                margin-top: 50px;
                position: relative;
                width: 100%;
                height: auto;
                background-color: #fff;
    
                >div{
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    z-index: 0;
                    width: 100%;
    
                    &.on {
                        opacity: 1;
                        z-index: 1;
                    }
    
                    &.main_introduce {
    
                        display: flex;
                        justify-content: space-evenly;
                        
                        >div {
                            height: 400px;
                            margin: 50px auto 0;
                            // display: flex;
                            // justify-content: center;
                            // align-items: center;
                            position: relative;
    
                            img {
                                border-radius: 0px 100% 0px 0px;
                                width: 70%;
                                height: 90%;
                                object-fit: cover;
                            }
    
                            p {
                                position: absolute;
                                text-align: center;
                                top: -20px;
                                right: 5%;
                                font: 16px/1.5 "맑은 고딕";
                            }
    
                            &:nth-of-type(3) {
                                p {
                                    margin-top: 20px;
                                }
                            }
                        }
    
                        &::after {
                            display: block;
                            content: '';
                            width: 100%;
                            height: 200px;
                            background-color: #eee;
                            position: absolute;
                            bottom: 40px;
                            left: 0px;
                            z-index: -1;
                        }
    
                    }
    
                    &.main_ideology {
                        
                        ul {
                            margin: 0 auto 50px;
                            width: 80%;
                            height: 200px;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
    
                            li {
                                width: 100%;
                                height: 100%;
                                position: relative;
                                display: flex;
                                justify-content: center;
                                align-items: center;
    
                                &::after {
                                    display: block;
                                    content: '';
                                    position: absolute;
                                    height: 200px;
                                    width: 200px;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    background-color: rgba(0,0,0,0.5);
                                    border-radius: 50%;
                                }
    
                                img {
                                    width: 200px;
                                    height: 200px;
                                    object-fit: cover;
                                    border-radius: 50%;
    
                                }
    
                                span {
                                    position: absolute;
                                    text-align: center;
                                    font: bold 18px/1.5 "맑은 고딕";
                                    color: #fff;
                                    z-index: 2;
                                }
                            }
                        }
    
                    }
                }
            }
    
        }
    }
}
