#slide {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
    position: relative;

    .panel {
        position: absolute;
        width: 100%;
        height: 100%;

        li {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity 1s;
            z-index: 1;
            opacity: 0;

            .content {
                position: absolute;
                top: 55%;
                right: 100px;
                display: flex;
                gap: 20px;
                div {
                    opacity: 1;
                    width: 200px;
                    height: 350px;
                    background-color: rgba(0, 0, 0, 0.5);
                    a {
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        

            &.on {
                opacity: 1;
                z-index: 2;
            }

            .typo {
                position: absolute;
                top: 15%;
                right: 0%;
            }
            
        }

    }

    .slidebtns {
        position: absolute;
        right: 30px;
        top: 50%;
        z-index: 3;
        display: flex;
        flex-direction: column;
        gap: 20px;

        li {
            width: 10px;
            height: 10px;
            background-color: #fff;
            transition: 0.5s;
            cursor: pointer;
            border-radius: 50%;

            &.on {
                height: 50px;
                border-radius: 15px;
                background-color: #222;
            }
        }
    }

    .bar {
        width: 0%;
        height: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 4;
    }
}



@media (max-width: $tablet) {

    #slide {
        width: 100vw;
        height: 100vh;

        .panel {

            li {
                .content {
                    right: 7vw;
                    div {
                        width: 15vw;
                    }
                }
                .typo {
                    right: -4vw;
                }
            }
        }
    }
}

@media (max-width: $tabletS) {

    #slide {
        .panel {
            li {
                .content {
                    display: none;
                }
                .typo {
                    right: 10px;
                    width: 70%;
                }
            }
        }

        .slidebtns {
            top: 70%;
        }
    }
}

